<ion-header>
    <ion-toolbar>
        <ion-title>

            <ion-icon type="button" name="arrow-back" onClick="history.go(-1);"> </ion-icon>
            Noticias

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-card>
            <img src="{{noticeElement.image}}" width=100% height=100% class="ion-padding">

            <ion-card-header>
                <h6>{{noticeElement.date}}</h6>
                <br>
                <ion-card-title>{{noticeElement.title}}</ion-card-title>

            </ion-card-header>
        </ion-card>
    </div>

    <div>
        <ion-card>
            <ion-card-content>
                {{noticeElement.shortDescription}}
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>