.bg-image {
    background-color: yellow;
    height: 350px;
    width: 100%;
    text-align: center;
}

.item-avatar  {     

    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important;
    margin: auto;
    padding-top: 15px;
}

.tag-image{
  
    width: 100% !important;  
    height : 100% !important;  
    margin: auto;
    padding-top: 15px;  
}



