<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon type="button" name="arrow-back" onClick="history.go(-1);"> </ion-icon>
            Perfil del pokemon
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemonInfo">
    <ion-card>
        <ion-avatar class="item-avatar" >
            <img src="{{pokemonInfo.sprites.front_default}}" />
        </ion-avatar>
        <ion-card-header>
            <ion-card-subtitle>
              #{{pokemonInfo.game_indices[0].game_index}}
            </ion-card-subtitle>
            <ion-card-title>
                {{pokemonInfo.forms[0].name}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sed rerum, voluptatibus error architecto quia consequatur eum
                , quod delectus necessitatibus facere debitis quae.
                Aliquid alias porro ipsam accusantium, dolor cupiditate.</p>
            <ion-list>
                <ion-list-header>
                    Pokemon type:
                </ion-list-header>
                <ion-item *ngFor="let imagetype of pokemonInfo.images_types">
                    <ion-label>
                        <h2>{{imagetype.name}}</h2>
                    </ion-label>
                    <ion-thumbnail slot="end">
                        <img class="tag-image" src="{{imagetype.url}}" />
                    </ion-thumbnail>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Stats</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let stat of pokemonInfo.stats">
                    <ion-label>
                        <h2>{{stat.stat.name}}</h2>
                    </ion-label>
                    <ion-range style="pointer-events: none;"  min="0" max="200" color="danger" value="{{stat.base_stat}}"></ion-range>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Poderes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img src="../../../assets/Electric.png">
                    </ion-thumbnail>
                    <ion-thumbnail slot="start">
                        <img src="../../../assets/Electric.png">
                    </ion-thumbnail>
                    <ion-label>
                        <h2>Ola de fuego</h2>
                        <p>Inflama al otro pokemon.</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>