<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Notices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bug"></ion-icon>
      <ion-label>Pokemons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
