<ion-header>
    <ion-toolbar>
        <ion-title>
            Items
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-list-header>
        Items Presentes
    </ion-list-header>
    <ion-list *ngFor="let item of pokemonItems">
        <ion-item>
            <ion-avatar>
                <img src="{{item.url_Image}}">
            </ion-avatar>
            <ion-label>
                <h2>{{item.name}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>