<ion-header>
    <ion-toolbar>
        <ion-title>
            Pokemones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-list *ngIf="pokemones">
        <ion-list-header>
            Pokemones existentes.
        </ion-list-header>

        <ion-item *ngFor="let pokemon of pokemones" (click)="navigateProfile(pokemon.id)">
            
            <ion-thumbnail>
                <img src="{{pokemon.url_image}}">
            </ion-thumbnail>
            <ion-label>
                <h2>{{pokemon.name}}</h2>
            </ion-label>

            <ion-thumbnail slot="end" *ngFor="let images of pokemon.image_types">
                <img class="icon" src="{{images.url}}">
            </ion-thumbnail>
        </ion-item>
    </ion-list>
</ion-content>