<ion-header>
    <ion-toolbar>
        <ion-title>
            Poke App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/background.png" alt="" />
        <ion-card-header>
            <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>En esta app podrás encontrar una ayuda para explorar el mundo pokemon. ¡Atrápalos ya!</p>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header>
            Últimas Noticias
        </ion-list-header>


        <ion-item *ngFor="let new of listNews" (click)="navigateNew(new)">
            <ion-avatar slot="start">
                <img src="/assets/poke1.png">
            </ion-avatar>
            <ion-label>

                <h3>{{new.title}}</h3>
                <ion-card-subtitle>{{new.date}}</ion-card-subtitle>
                <p>{{new.shortDescription}}</p>

            </ion-label>
        </ion-item>


    </ion-list>
</ion-content>